@import "../base/base.css";
@import "../base/layout.css";




.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.img > img {
    display: flex;
    width: 200px;
    height: 200px;
}

.content .title {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--title-color);
    text-align: center;
    text-transform: uppercase;
}

.content .text {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
}