@import "../base/base.css";
@import "../base/layout.css";



.img {
    width: 200px;
    height: 200px;
}


.row > img {
    width: 50px;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    gap: 60px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title {
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--title-color);
}

.description {
    margin-top: 20px;
    color: var(--description-color);
}

.text-align {
    display: flex;
    justify-content: center;
}